.bcgrnd{
	background-color: #E7EBE8;
}
.row_base{
	margin-bottom:10px;
	
}
.glyphicon { margin-right:5px; }

.item .thumbnail
{
    margin-bottom: 0px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
	    border: 0;
}
.grid-group-item .thumbnail {
    min-height: 400px;
	
	box-shadow: 4px 0px 140px -19px rgba(0,0,0,.08);
	-webkit-box-shadow:4px 52px 56px -34px rgba(0,0,0,.08), 0px 0px 16px -5px rgba(0,0,0,.15);
}
.list-group-item-heading{
	text-transform:capitalize; 
}

.item.list-group-item
{

    float: none;
    width: 100%;
    background-color: #fff;
     margin-bottom: 1px;
	padding: 0px;
	border: transparent;
	border-bottom: 1px solid #dddddd;
	box-shadow: 4px 0px 140px -19px rgba(0,0,0,.08);
	-webkit-box-shadow:4px 0px 140px -19px rgba(0,0,0,.08);
}

.item.list-group-item:last-child{
	border-radius: 0;
}
.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
   // background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
	height:100px;
	padding:8px;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
	font-size:14px;
   // margin: 0 0 11px;
}

#viewtype{
    position: fixed;
    top: 65px;
    z-index: 1;
    right: 16px;
}
#viewtype .gly{
	top:0px;
	margin-right:0;
	color: rgb(0, 26,26);
}
#viewtype .button_gly{
	border-radius: 0;
	border: 1px solid rgb(0, 26, 26);
}
.title_heading{
	color: rgba(0, 26, 26,1);
	margin: 28px 0;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0, 26, 26,1);
	text-transform:uppercase;
	box-shadow:3px 20px 34px -12px rgba(0,0,0,.08);
	-webkit-box-shadow:3px 20px 34px -12px rgba(0,0,0,.08);
	letter-spacing: 12px;
}